# maven settings
#maven.artifactory.source.url=<url>              # default: http://10.0.0.200/artifactory
#maven.artifactory.target.url=<url>              # default: http://10.0.0.200/artifactory
#maven.repository.target.releaseUrl=<url>        # default: http://10.0.0.200/artifactory/Releases
#maven.repository.target.snapshotUrl=<url>       # default: http://10.0.0.200/artifactory/Snapshots
#maven.repository.local=<fullPath>               # default: ${user.home}/.m2/repository
maven.repository.source.username=<user>
maven.repository.source.password=<encPassword>
maven.repository.target.username=<user>
maven.repository.target.password=<encPassword>

maven.repository.target.releaseUrl=http://10.0.0.200/artifactory/THIRD-PARTY
maven.repository.target.snapshotUrl=http://10.0.0.200/artifactory/THIRD-PARTY