# if you deploy the framework to a TomCat server you need those information
#tomcat.webapp.root=<webappDir>

# if you deploy the framework to a Pentaho server you need those information
#pentaho.webapp.dir=<webappGSBISDir>
#pentaho.solutions.dir=<solutionDir>

# build.source.dir                                # default: src

# maven settings
#maven.artifactory.source.url=<url>              # default: http://gs3-svn:8081/artifactory
#maven.artifactory.target.url=<url>              # default: http://gs3-svn:8081/artifactory
#maven.repository.target.releaseUrl=<url>        # default: http://gs3-svn:8081/artifactory/Releases
#maven.repository.target.snapshotUrl=<url>       # default: http://gs3-svn:8081/artifactory/Snapshots
#maven.repository.local=<fullPath>               # default: ${user.home}/.m2/repository
maven.repository.source.username=<user>
maven.repository.source.password=<encPassword>
maven.repository.target.username=<user>
maven.repository.target.password=<encPassword>

# proxy settings for usage at e.g. Inform (host:port is proxy:80, user and pass empty)
proxy.host=proxy
proxy.port=80
proxy.user=
proxy.pass=

# svn settings - currently not used
#svn.username=<username>
#svn.password=<password>