<!DOCTYPE html>
<html>
  <head>
    <title>${maven.pom.name} (${maven.pom.artifactId})</title>
  </head>
  
  <body>
  
    <!-- add the javascript here -->
  	<script type="text/javascript" language="javascript" src="${gwt.module}/${gwt.module}.nocache.js"></script>
  	
    <!-- history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
  </body>
</html>