<project>
  <modelVersion>4.0.0</modelVersion>
    
  <!-- project settings -->
  <groupId>${maven.tmp.independentPom.groupId}</groupId>
  <artifactId>${maven.tmp.independentPom.artifactId}</artifactId>
  <version>${maven.tmp.independentPom.version}</version>
  <name>${maven.tmp.independentPom.name}</name>
  <packaging>${maven.tmp.independentPom.packaging}</packaging>
</project>